* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.contact-list {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  grid-gap: 10px;
  justify-content: center;
  padding: 0; }

.contact-list-item {
  list-style-type: none;
  background: green; }
